/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    display: inline-block;
}
body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    font-family: "Poppins", sans-serif;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}
/* Start Custom CSS Here */
:root {
    --color-primary: #4375e7;
    --color-background: #ffffff;
    --color-text: #142137;
    --fw-medium: 500;
    --fw-semibold: 600;
}
.container {
    max-width: 90%;
    margin: 0 auto;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Top Bar Start */
.top-nav-wrapper {
    background-color: var(--color-primary);
    padding: 10px 0;
}
.top-nav-left {
    display: flex;
    align-items: center;
    gap: 16px;
}
.top-nav-left p {
    font-size: 16px;
    color: #ffffff;
    font-weight: var(--fw-medium);
}
.top-nav-left ul {
    display: flex;
    list-style: none;
    gap: 18px;
}
.top-left-social {
    padding-left: 0px;
}
.fa-brands,
.fab {
    color: #e7e7e7;
    opacity: 0.5;
}
.fa-brands:hover {
    color: #ffffff;
    opacity: 1;
}
.top-nav-right ul {
    display: flex;
    list-style: none;
    gap: 18px;
}
.top-nav-right ul li {
    border-right: 1px solid #a8a8a8;
    padding-right: 16px;
}
.top-nav-right ul li:last-child {
    padding-right: 0;
    border: none;
}

.top-nav-right ul li span {
    font-size: var(--fw-medium);
    font-size: 16px;
    color: #e7e7e7;
    opacity: 0.5;
}
.top-nav-right ul li i {
    font-size: 16px;
    color: #ffffff;
    margin-right: 8px;
    opacity: 1;
}
.bottom-nav-wrapper {
    padding: 18px 0;
}

.bottom-nav-wrapper .logo {
    width: 180px;
}
.bottom-nav-wrapper div > a {
    font-size: 16px;
    color: #142137;
    font-weight: var(--fw-medium);
    padding: 20px 30px;
    border: 1px solid rgba(20, 33, 55, 0.1);
}
nav ul li {
    margin-left: 16px;
}
nav ul li i {
    margin-left: 3px;
}
nav ul li a {
    font-size: 16px;
    color: #142137;
    font-weight: var(--fw-medium);
}
/* Hero Start */
.hero-wrapper {
    background-image: url("/images/Image_here.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;
    background-position: right;
}
.hero-left {
    /* width: 60%; */
    padding: 170px 0 200px 0;
    /* z-index: 100; */
}
.hero-left a {
    background-color: var(--color-primary);
    color: #ffffff;
    padding: 22px 34px;
    margin-right: 16px;
}
.hero-left .sub-head {
    /* display: inline-block; */
    color: #ffffff;
    opacity: 0.7;
    display: inline-flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.14);
    /* display: inline-block; */
    flex-wrap: nowrap;
    gap: 8px;
    padding: 8px 16px;
}
.hero-left .sub-head .dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0.7;
}
.hero-left .sub-head div {
    font-size: 16px;
    color: #ffffff;
    font-weight: var(--fw-medium);
    opacity: 0.7;
}
.hero-left h1 {
    font-size: 100px;
    line-height: 110px;
    letter-spacing: -2%;
    color: #ffffff;
    font-weight: var(--fw-semibold);
    margin-bottom: 60px;
}
.hero-left p {
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
    font-weight: var(--fw-medium);
    margin-bottom: 60px;
    opacity: 0.7;
}
.btn-section {
    display: flex;
    gap: 16px;
    align-items: center;
}
.user-section .user {
    display: flex;
    align-items: center;
    gap: -16px;
}

.user-section .user img {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    margin-left: -16px;
}
.user-section .user img:first-child {
    margin-left: 0;
}

.rating-section .rating {
    display: flex;
    align-items: center;
    gap: 8px;
}
.rating-section p {
    font-size: 16px;
    color: #ffffff;
    line-height: 25px;
    font-weight: var(--fw-medium);
    margin-bottom: 0;
}
.hero-wrapper {
    position: relative;
    z-index: -1;
}
.hero-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(
        to right,
        rgba(20, 33, 55, 1),
        rgba(20, 33, 55, 0.1)
    );
    z-index: -1;
}
.hero-right {
    /* z-index: 100; */
}
.hero-right .circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    opacity: 0.14;
    width: 54px;
    height: 54px;
    border-radius: 50%;
}

.hero-right .circle .fa-arrow-left {
    position: absolute;
    z-index: 100;
    color: #ffffff;
}
/* About Us Start */
.about-wrapper {
    padding: 150px 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-between;
}
.about-wrapper .sub-head {
    /* display: inline-block; */
    color: #142137;
    opacity: 0.7;
    display: inline-flex;
    align-items: center;
    /* background: rgba(255, 255, 255, 0.14); */
    /* display: inline-block; */
    flex-wrap: nowrap;
    gap: 8px;
    padding: 8px 16px;
    border: 1px solid rgba(20, 33, 55, 0.14);
    border-radius: 50px;
    text-transform: capitalize;
    margin-bottom: 34px;
}
.about-wrapper .sub-head .dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #142137;
}
.about-wrapper h2 {
    font-size: 54px;
    line-height: 64px;
    letter-spacing: -2%;
    color: #142137;
    font-weight: var(--fw-semibold);
    margin-bottom: 40px;
}
.about-left {
    width: 39%;
}
.about-left p {
    font-size: 16px;
    line-height: 26px;
    color: #142137;
    opacity: 0.7;
    margin-bottom: 44px;
}
.about-left a {
    /* background-color: var(--color-primary); */
    color: #142137;
    display: inline-block;
    padding: 22px 34px;
    /* margin-right: 16px; */
    border: 1px solid rgba(20, 33, 55, 0.1);
    margin-bottom: 100px;
}
.about-left a .fa-solid {
    color: #142137;
}
.about-left-bottom {
    display: flex;
    gap: -16px;
    flex-wrap: nowrap;
    align-items: end;
}
.about-left-botoom-number {
    position: relative;
    /* z-index: -1; */
}
.about-left-bottom .about-left-botoom-number {
    display: flex;
    /* gap: 6px; */
    flex-wrap: nowrap;
    padding: 33px 56px;
    border: 1px solid rgba(20, 33, 55, 0.1);
    margin-left: -90px;
    background: #ffffff;
    align-items: self-start;
}
.about-left-img {
    width: 400px;
}

.about-left-botoom-number h2 {
    font-size: 230px;
    line-height: 100%;
    z-index: 50;
    margin-bottom: 0;
}
.about-left-botoom-number p {
    font-size: 18px;
    line-height: 26px;
    color: #142137;
    opacity: 0.7;
    margin-left: -16px;
    margin-bottom: 0;
    margin-top: 20px;
    z-index: 50;
    font-weight: var(--fw-medium);
}
.about-left-botoom-number::after {
    content: "";
    position: absolute;
    top: 27px;
    left: 192px;
    right: 0;
    bottom: 0;
    width: 102px;
    height: 102px;
    background: #ebeff3;
    border-radius: 50%;
    z-index: 1;
}

.about-right {
    display: flex;
    flex-direction: column;
    gap: 110px;
}
.about-right .counter-wrapper {
    display: flex;
    gap: 24px;
    flex-wrap: nowrap;
    align-items: center;
}
.about-right .counter-wrapper .counter {
    width: 220px;
    height: 220px;
    border: 1px solid rgba(20, 33, 55, 0.14);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-right .counter-wrapper .counter h3 {
    font-size: 50px;
    line-height: 66px;
    color: #142137;
    font-weight: var(--fw-semibold);
    margin-bottom: 0;
}
.about-right .counter-wrapper .counter p {
    font-size: 16px;
    line-height: 22px;
    color: #142137;
    opacity: 0.7;
    margin-bottom: 0;
    max-width: 150px;
    text-align: center;
}
/* Service Section */
.service-wrapper {
    padding: 150px 0;
    background-color: #ecf2fe;
}
.service-wrapper .sub-head {
    /* display: inline-block; */
    color: #142137;
    opacity: 0.7;
    display: inline-flex;
    align-items: center;
    /* background: rgba(255, 255, 255, 0.14); */
    /* display: inline-block; */
    flex-wrap: nowrap;
    gap: 8px;
    padding: 8px 16px;
    border: 1px solid rgba(20, 33, 55, 0.14);
    border-radius: 50px;
    text-transform: capitalize;
}
.service-wrapper .sub-head .dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #142137;
}
